@font-face {
  font-family: Cocogoose;
  font-weight: 400;
  src: url(../fonts/Cocogoose-Classic-Light-trial.ttf);
}
@font-face {
  font-family: Dinosaur;
  font-weight: 300;
  src: url(../fonts/DIN-Light.ttf);
}
.button__base{
  text-align: center;
  font: 900 20px/27px Cocogoose;
  letter-spacing: 2px;
  color: #FFFFFF;
  text-transform: uppercase;
  background: #FD2F58 0% 0% no-repeat padding-box;
  border-radius: 19px;
  display: block;
}
@tailwind base;

@tailwind components;

@tailwind utilities;

@import 'custom' ;