body {
  overflow-x: hidden;
  margin: 0 auto;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #707070;
  font-size: 20px;
  text-transform: uppercase;
  font-family: Cocogoose, sans-serif;
}

::-moz-placeholder { /* Firefox 19+ */
  color: #707070;
  font-size: 20px;
  text-transform: uppercase;
  font-family: Cocogoose, sans-serif;
}

:-ms-input-placeholder { /* IE 10+ */
  color: #707070;
  font-size: 20px;
  text-transform: uppercase;
  font-family: Cocogoose, sans-serif;
}

:-moz-placeholder { /* Firefox 18- */
  color: #707070;
  font-size: 20px;
  text-transform: uppercase;
  font-family: Cocogoose, sans-serif;
}

header {
  position: relative;
  z-index: 999;
}

.fs-30 {
  font-size: 30px;
}

.fs-20 {
  font-size: 20px;
}

.ft-bolder-coco {
  font-family: Cocogoose, sans-serif;
  font-weight: 900;
}

.ft-reg-coco {
  font-family: Cocogoose, sans-serif;
  font-weight: 500;
}

.ft-bold-coco {
  font-family: Cocogoose, sans-serif;
  font-weight: 700;
}

.ft-light-coco {
  font-family: Cocogoose, sans-serif;
  font-weight: 300;
}

.ft-bolder-din {
  font-family: Cocogoose, sans-serif;
  font-weight: 900;
}

.ft-reg-din {
  font-family: Cocogoose, sans-serif;
  font-weight: 500;
}

.ft-bold-din {
  font-family: Cocogoose, sans-serif;
  font-weight: 700;
}

.ft-light-din {
  font-family: Cocogoose, sans-serif;
  font-weight: 300;
}

.nav__item {
  padding: 15px 30px;
  text-align: left;
  font: 500 20px/26px Cocogoose;
  letter-spacing: 1.2px;
  color: #707070;
  text-transform: uppercase;
  opacity: 1;

}

.nav__item {
  padding: 18px 30px;
}

.nav__item--arrow {
  padding: 18px 20px;
}

.footer__image {
  position: absolute;
  bottom: -15px;
  right: -75px;
}

.custom_select {
  width: 120px;
  height: auto;
}

.select {
  position: relative;
  width: 100%;
  background-position-x: left;
  background-position-y: center;
  background-size: 25px 25px;
  background-repeat: no-repeat;
  padding-left: 30px;
  font-size: 20px;
  font-family: Cocogoose, sans-serif;
  color: #ffffff;
  cursor: pointer;
}

.select:after {
  content: url("../img/arrow-right.svg");
  position: absolute;
  right: 0;
  top: 3px;
  transform: rotate(0deg);
}

.custom_select.open .select:after {
  transform: rotate(90deg);
}

.options {
  display: none;
  font-size: 18px;
  color: #ffffff;
  padding-top: 15px;
  .language {
    cursor: pointer;
    padding: 5px 5px 5px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    img {
      width: 25px;
      height: 25px;
    }
  }
}

.message_items {
  max-width: 600px;
  .feature__item {
    max-width: max-content;
  }
}

.open .options {
  display: block;
}

.nav__subitem {
  display: none;
  position: absolute;
  min-width: 350px;
  z-index: 999;
  left: 0;
  top: 100%;
  border: 1px solid #ddd;
  background: white;
  padding: 30px;
}

.nav__subitem ul {
  padding-right: 20px;
  min-width: 350px;
}

.sub__right .active {
  min-width: 350px;
}

.sub__right a {
  padding-bottom: 20px;
  display: block;
}

.nav__subitem {
  a {
    font: 500 20px/26px Cocogoose;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: #707070;

  }
  .nav__subitem--2 {
    a {
      width: max-content;
      margin-bottom: 15px;
      display: block;
    }
  }
}

nav ul li {
  list-style: none;
  transition: all ease .3s;
}

nav ul .active {
  position: relative;
  transition: all ease .3s;
}

nav ul .active > .nav__subitem {
  display: block;
  transition: all ease .3s;
}

.nav__item--arrow img {
  width: 20px;
  display: block;
  height: 17px;
  margin-left: 10px;
  transition: all ease .3s;
}

nav ul .active > .nav__item--arrow img {
  transform: rotate(90deg);
  transition: all ease .3s;
}

.btn__red--rounded {
  background: #FD2F58 0% 0% no-repeat padding-box;
  border-radius: 20px;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 16px 25px;
  line-height: 1;
}

footer {
  background: #4D4D4D;
}

footer h5 {
  font: 700 20px/26px Cocogoose;
  letter-spacing: 1.2px;
  color: #FFFFFF;
  text-transform: uppercase;
}

footer ul li {
  font: 300 20px/27px DINosaur;
  letter-spacing: 0.4px;
  color: #FFFFFF;
  margin-bottom: 18px;
}

.copyrights {
  text-align: center;
  font: 700 20px/27px Cocogoose;
  letter-spacing: 2px;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 40px 0;
  background: #333333;
}

.copyrights span {
  font-family: 'Nunito', sans-serif;
}

.nav__login {
  color: #FD2F58;
}

.banner__heading {
  text-align: left;
  font: 700 70px/94px Cocogoose;
  letter-spacing: 0;
  color: #4D4D4D;
  text-transform: uppercase;
  opacity: 1;
}

p.banner__text {
  text-align: left;
  font: 300 30px/40px DINosaurs;
  letter-spacing: 0.3px;
  color: #707070;
  opacity: 1;
}

.home__banner--email input {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #8D5FD666;
  border-radius: 20px;
  height: 70px;
  outline: none;
  font: 300 20px/27px Cocogoose Classic Trial;
  letter-spacing: 0.8px;
  color: #707070;
}

button.banner__button {
  background: #FD2F58 0% 0% no-repeat padding-box;
  border-radius: 19px;
  text-align: center;
  font: bold 20px/27px Cocogoose;
  letter-spacing: 2px;
  color: #FFFFFF;
  text-transform: uppercase;
  outline: none
}

.menu__item.active {
  .nav__item {
    color: #000;
  }
  .sub__menu--item {
    a {
      span {
        color: #000;
      }
    }
  }
  .arrow-right {
    svg {
      transform: rotate(90deg);
      line {
        stroke: #000000;
      }
    }
  }
}

.banner__small-text {

  font: 300 20px/27px DINosaur;
  letter-spacing: 0.4px;
  color: #707070;
}

.banner__small-text a {

  font: 900 20px/27px DINosaur;
  text-decoration: underline;
}

.banner__image {
  max-width: inherit;
  top: 0;
  bottom: 0;
  height: 110%;
  z-index: 9;
}

section#home__trusted {
  background: #E7EBED33 0% 0% no-repeat padding-box;
  mix-blend-mode: multiply;
  padding: 50px 25px;
}

#home__banner input {
  border: 1px solid #8D5FD666;
  color: #aaa;
  font-size: 24px;
}

.section__title {
  text-align: center;
  font: 700 25px/40px DINosaur;
  letter-spacing: 0.3px;
  color: #707070;
  text-transform: uppercase;
}

.workflow__items .digitise__item--image, #analysis .digitise__item--image {
  margin-left: 0;
  margin-right: 0;
}

.fixed-height {
  max-height: 150px;
}

.custom-text-size p {
  font-size: 24px;
}

.section__title-large {

  font: 700 50px/60px Cocogoose;
  letter-spacing: 1.2px;
  color: #4D4D4D;
  text-transform: uppercase;
}

#home__procedure, #home__cases {
  border-bottom: 1px solid #EEE7F9;
}

ul.list--circle__check li {
  text-align: left;
  font: 300 30px/40px DINosaur;
  letter-spacing: 0.3px;
  color: #707070;
  margin-bottom: 25px;
  padding-left: 50px;
  background: url("../img/checkmark.png") no-repeat left;
}

.with__check--bg li {
  background: url("../img/checkmark.png") no-repeat left;
  padding-left: 50px;
}

.banner__icon {
  position: absolute;
  bottom: -35px;
  width: 70px;
  height: 70px;

}

.bottom__right {
  width: 530px;
  height: 530px;
}

img.procedure__image {

  top: 50px;
  right: -201px;
  position: relative;
  transform: scale(1.8);
}

.case__items .item__text {
  max-width: 900px;
}

a.description-link {
  text-align: center;
  font: 900 20px/27px Cocogoose;
  letter-spacing: 2px;
  color: #FD2F58;
  text-transform: uppercase;
}

.item__heading {
  text-align: left;
  font: 700 40px/60px Cocogoose;
  letter-spacing: 1.2px;
  color: #00C389;
  text-transform: uppercase;
}

.item__image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item__text p, .start__text p, .learn__text p {
  text-align: left;
  font: 300 30px/40px DINosaur;
  letter-spacing: 0.3px;
  color: #707070;
}

.reversed {
  flex-direction: row-reverse;
}

.reversed .item__heading {
  color: #FF8500;
}

.start__text {
  margin: 440px 0 130px;
}

.start__image img {
  position: relative;
  right: 70px;
  transform: scale(1.6);
}

section#home__start {
  background: #E7EBED34;
}

.learn__heading {
  text-align: center;
  font: 900 40px/50px Cocogoose;
  letter-spacing: 1.2px;
  color: #8D5FD6;
  text-transform: uppercase;
}

.image__circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
}

.with__circle {
  position: relative;
  width: 250px;
  height: 250px;
}

.with__circle img {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

#home__leaders {
  background: #E7EBED4D;
}

.leader__item img {
  max-height: 70px;
}

#home__easy {
  background: #00C389;
}

.banner__right {
  width: 53%;
}

.workflow__items .digitise__item--text {
  padding-left: 50px;
}

.tab__content--img {
  img {
    max-height: 500px;
  }
  max-height: 500px;
}

.tab__header {
  border: 1px solid #AAAAAA;
  max-width: max-content;
  overflow: hidden;
}

.header__item {
  border-right: 1px solid #AAAAAA;
  cursor: pointer;
}

.header__item.active {
  background: #9690A5;
  color: #ffffff;
}

.header__item:last-child {
  border-right: none;
}

.base__button {
  max-width: max-content;
  letter-spacing: 2px;
}

.item__top--image {
  position: absolute;
  bottom: 60%;
  left: 50%;
  transform: translateX(-50%);
}

.item__bottom--text {
  position: absolute;
  bottom: 65px;
  left: 50%;
  transform: translateX(-50%);
}

.line {
  position: absolute;
  bottom: 90px;
  left: 5%;
  height: 2px;
  background: #F0EDF8;
  width: 90%;
}

.content__item {
  display: none;
}

.content__item.active {
  display: flex;
}

header .nav__subitem li {
  padding-bottom: 20px;
}

.with-border {
  border-bottom: 2px solid #AAAAAA;
}

.sub__menu--item.active {
  display: block;
}

#digitise, #forms, #workflow, #organise, .with__border--bottom {
  border-bottom: 1px solid #EEE7F9;
}

.border-right {
  border-right: 1px solid #aaaaaa;
}

.circle {
  background-image: url(../img/icons/back-factory.svg);
  background-repeat: no-repeat;
  background-position: center;
  max-width: 530px;
  background-size: contain;
  background-position: center;
}

.border-top-ccc {
  border-top: 1px solid #ccc;
}

.issue-management-second {
  background-color: #FF85001A;

}

.issue-management-second-img {
  position: relative;
  top: -70px;
}

.issue__item--bg {
  background: url("../img/circle-grey.svg") no-repeat left;
  background-size: contain;
}

.from__image {
  position: absolute;
  top: -50%;
  right: 10%;
}

.team__itemw-full {
  max-width: 600px;
}

.group__phones {
  position: absolute;
  right: 0;
  bottom: 0;
}

h1 {
  line-height: 1;
}

#as_a_team .team__item {
  max-width: 350px;
}

.report__items {
  justify-content: space-evenly;
}

.management__tools .tool__item--img.first:after {
  content: '';
  background: url("../img/arrow-red.svg") no-repeat;
  background-size: cover;
  width: 70px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
}

.management__tools .tool__item--img.second:after {
  content: '';
  background: url("../img/arrow-green.svg") no-repeat;
  background-size: cover;
  width: 70px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
}

.management__tools .tool__item:last-child .tool__item--img:after {
  background: none;
}

.analysis__banner--image {
  right: 3%;
}

.background-grey {
  background: #FAFBFB;
  height: 70px;
  width: 100%;
}

#organization__banner .banner__right--img img {
  max-width: 630px;
  margin-left: auto;
}

#organization__orchestrate .digitise__item--image {
  margin-left: 0;
  margin-right: 0;
}

.list__border {
  border-bottom: 1px solid #aaaaaa;
  padding: 30px 0;
  height: 100%;
  transition: all ease .3s;
  cursor: pointer;
}

.list__border:last-child {
  border-bottom: none;
}

.industries__list li span {
  display: none;
}

.industries__list li.active span {
  display: block;
}

.industries__list li.active img {
  transform: rotate(90deg);
}

.line__break {
  display: block;
}

.industries__cases--img {
  max-height: 504px;
}

.industries__icon {
  width: 55px;
}

.index__image--list {
  max-width: 176px;
}

.industries__list--image {
  display: none;
}

.industries__list--image.active__image {
  display: block;
}

.cases__bottom--right {
  width: 410px;
  height: 410px;
}

.use-cases__list li {
  padding-left: 40px;
  position: relative;
  line-height: 1.33;
}

.use-cases__list li:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background: url("../img/icons/checkmark-icon_green.svg") no-repeat;

  top: 13px;
  left: 0;
}

.cases__text__section {
  max-width: 570px;
}

.cases__image__section {
  max-width: 620px;
}

#solve__issue .issue__circle {
  width: 400px;
  height: 400px;
}

#solve__issue h5 {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%);
}

#solve__issue h6 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

#subscribe input {
  border: 1px solid #8D5FD666;
}

/* switch button*/
.subscribtion {
  .switch {
    position: relative;
    display: inline-block;
    width: 53px;
    height: 28px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #8D5FD6;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 2px;
    bottom: 2px;
    background-color: #8D5FD6;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: rgba(141, 95, 214, 0.53);
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #8D5FD6;
  }
  input + .slider {
    background-color: rgba(141, 95, 214, 0.3);
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  .slider.round {
    border-radius: 50px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

}

/*end switch button*/
.plan__item--small {
  width: 500px;
  position: relative;
  .functions {
    margin-left: 145px;
  }
}

.plan__item--small .plan__circle {
  width: 300px;
  height: 300px;
  background: #ffffff;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.item__left {
  padding: 65px 0 0;
  .item__content {
    padding: 20px 0 0;
  }

}

.plan__item--large {
  .item__content {
    padding: 85px 0 0;
    min-height: 500px;
    width: 500px;
  }
}

.item__right {
  padding: 85px 0 0;
}

.plan__circle {
  z-index: 0;
}

.item__content {
  position: relative;
  z-index: 1;
}

.button__bottom {
  margin-top: auto;
  position: relative;
  z-index: 2;
  a {
    display: block;
    max-width: max-content;
    margin-top: -25px;
  }
}

.plan__item--large .plan__circle {
  width: 500px;
  height: 500px;
  background: #ffffff;
  border-radius: 50%;
}

.plan__count {
  width: 69px;
  height: 47px;
  border-radius: 10px;
  border: solid 1px rgba(141, 95, 214, 0.4);
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.starter li {
  background: url('../img/icons/checked-icon_blue.svg') no-repeat left;
}

.pro li {
  background: url('../img/icons/check-icon.svg') no-repeat left;
  background-size: 19px 19px;
}

.enterprise li {
  background: url('../img/icons/checked-icon_gold.svg') no-repeat left;
}

.checked-gold {
  background: url('../img/icons/checked-icon_gold.svg') no-repeat center;
  width: 100%;
  height: 100%;
}

.checked-green {
  background: url('../img/icons/check-icon.svg') no-repeat center;
  width: 100%;
  height: 100%;
  background-size: 19px 19px;
}

.checked-blue {
  background: url('../img/icons/checked-icon_blue.svg') no-repeat center;
  width: 100%;
  height: 100%;
}

/* Range Slider*/

.slidecontainer {
  width: 100%;

  .slider {
    -webkit-appearance: none;
    width: 180px;
    height: 3px;
    border-radius: 5px;
    background: #707070;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

  .slider:hover {
    opacity: 1;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #707070;
    cursor: pointer;
  }

  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }
}

/* End Range Slider*/
.faq__container {
  max-width: 480px;
}

.faq__table {
  width: 1400px;
  margin: 0 auto;
}

.table__circle {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 50%;
  border-radius: 50%;
  transform: translateX(-50%);
}

.table__header > div {
  position: relative;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.starter__circle.table__circle {
  background: rgba(0, 178, 255, 0.1);
}

.pro__circle.table__circle {
  background: rgba(0, 195, 137, 0.1);
}

.expertise__circle.table__circle {
  background: rgba(255, 133, 0, 0.1);
}

.contact__input {
  width: 630px;
  input {
    height: 70px;
    border-radius: 20px;
    background: #ffffff;
    border: 1px solid #AAAAAA;
    outline: none;
  }
}

.contact__textarea textarea {
  height: 250px;
  border-radius: 20px;
  background: #ffffff;
  border: 1px solid #AAAAAA;
  outline: none;

}

.case__studies .case__item {
  width: 500px;
}

.about__text {
  width: 570px;
}

.circle__white {
  width: 350px;
  height: 350px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}

.circle__bg__white {
  width: 400px;
  position: relative;
  padding-top: 45px;
  height: 350px;
}

.team__item {
  width: 450px;

  .team__image {
    border-radius: 50%;
    overflow: hidden;
    height: 450px;
  }
}

.gallery__left {
  width: 392px;
}

.gallery__middle {
  width: 1133px;
}

.gallery__right {
  width: 376px;
}

.common__item {
  width: 540px;
  height: 400px;
}

.common__circle {
  width: 400px;
  height: 400px;
  position: absolute;
  z-index: 0;
}

.common__image {
  height: 194px;
}

.common__text {
  position: relative;
  z-index: 2;
}

.item_first {
  width: 512px;
  .focus__text {
    width: 400px;
  }
}

.item_second {
  width: 385px;
  .focus__text {
    width: 275px;
  }
}

.item_third {
  width: 485px;
  .focus__text {
    width: 370px;
  }
}

.item__icon img {
  width: 72px;
}

.control__left {
  width: 390px;
}

.control__middle {
  width: 340px;
}

.control__right {
  width: 340px;
}

.control__icon {
  width: 70px;
}

.steps .issue__item--bg {
  background-size: 240px 240px;
  background-position-y: top;
  background-position-x: left;
}

.steps .issue__item--bg {
  min-height: 240px;
}

.monitoring__circle {
  width: 400px;
  height: 400px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.monitoring__item {
  max-width: 450px;
  height: 400px;
  z-index: 0;
}

.sensor__faq__items {
  max-width: 510px;
  &:first-child {
    max-width: 485px;
  }
  &:last-child {
    max-width: 475px;
  }
  .sensor__faq__item {
    h3 {
      max-width: 90%;
    }
  }
}

#organise .digitise__item--text {
  padding: 0;

}

#easy .home__banner--email input {
  border: none;
}

.bg-white-95 {
  background: rgba(255, 255, 255, .94);
}

footer ul li a {
  text-transform: capitalize;
}

.logo svg {
  max-width: 212px;
  width: 100%;
}

#analysis__need .horizontal__section {
  width: 100%;
  max-width: 575px;
}

.solution__section .bottom__left {
  width: 100%;
  max-width: 915px;
}

.section__items .bottom__right {
  height: auto;
}

.case__item.reversed .item__text {
  max-width: 870px;
}

/* Start Hamburger button */
.hamburger-button {
  display: none;
}

#nav-icon3 {
  width: 40px;
  height: 30px;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon3 span {
  display: block;
  height: 5px;
  width: 100%;
  position: absolute;
  background: #FD2F58;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
  top: 0;
}

#nav-icon3 span:nth-child(2), #nav-icon3 span:nth-child(3) {
  top: 11px;
}

#nav-icon3 span:nth-child(4) {
  top: 21px;
}

#nav-icon3.open span:nth-child(1) {
  top: 10px;
  width: 0;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {

  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 10px;
  width: 0;
  left: 50%;
}

/*  End Hamburger Button*/

@media (max-width: 1660px) {
  .group__phones {
    max-width: 650px;
  }
  .text-70, .md\:text-70 {
    font: 700 55px/60px Cocogoose;
  }
  .text-38, .md\:text-38 {
    font-size: 30px;
  }
  .text-30 {
    font-size: 25px;
  }
  .text-20 {
    font-size: 17px;
  }
  .text-50 {
    font-size: 40px;
  }
  .leading-heading {
    line-height: 60px;
  }
  p.banner__text {
    font: 300 25px/40px DINosaurs;
  }
  .home__banner--email input {
    font: 300 17px/27px Cocogoose Classic Trial;
  }
  .button__base {
    font: 900 17px/17px Cocogoose;
    line-height: 1;
    height: 70px;
  }
  .banner__small-text {
    font: 300 17px/27px DINosaur;
  }
  .section__title-large {
    font: 700 35px/50px Cocogoose;
  }
  ul.list--circle__check li {

    font: 300 25px/35px DINosaur;
    margin-bottom: 20px;
  }
  .item__heading {
    font: 700 35px/55px Cocogoose;
  }
  .item__text p, .start__text p, .learn__text p {
    font: 300 25px/40px DINosaur;
  }
  .learn__heading {
    font: 900 35px/50px Cocogoose;
  }
  .with__circle {
    width: 200px;
    height: 200px;
  }
  a.description-link {
    font: 900 17px/27px Cocogoose;
  }
  .nav__item {
    font: 500 17px/20px Cocogoose;
    letter-spacing: 0.8px;
    padding: 15px;
  }
  .nav__item--arrow img {
    width: 13px;
    height: 14px;
    margin-left: 5px;
  }

  .nav__subitem {
    padding: 20px;
  }

  .nav__subitem a {
    font: 500 13px/20px Cocogoose;
    letter-spacing: 0.8px;
  }
  .management__tools .tool__item--img:after {
    width: 30px;
    left: calc(100% - 15px);
  }
  .from__image {
    right: 0;
    max-width: 550px;
  }
}

@media (max-width: 1400px) {
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #707070;
    font-size: 15px;
    text-transform: uppercase;
    font-family: Cocogoose, sans-serif;
  }

  ::-moz-placeholder { /* Firefox 19+ */
    color: #707070;
    font-size: 15px;
    text-transform: uppercase;
    font-family: Cocogoose, sans-serif;
  }

  :-ms-input-placeholder { /* IE 10+ */
    color: #707070;
    font-size: 15px;
    text-transform: uppercase;
    font-family: Cocogoose, sans-serif;
  }

  :-moz-placeholder { /* Firefox 18- */
    color: #707070;
    font-size: 15px;
    text-transform: uppercase;
    font-family: Cocogoose, sans-serif;
  }
  .banner__heading {
    font: 700 40px/55px Cocogoose;
  }
  p.banner__text {
    font: 300 20px/40px DINosaurs;
  }
  .start__text {
    margin: 340px 0 130px;
  }
  .item__text p, .start__text p, .learn__text p {
    font: 300 20px/30px DINosaur;
  }
  .section__title-large {
    font: 700 30px/40px Cocogoose;
  }
  img.procedure__image {
    top: 0;
    right: -100px;
    transform: scale(1.5);
  }
  .item__heading {
    font: 700 25px/55px Cocogoose;
  }
  .item__text p, .start__text p, .learn__text p {
    font: 300 17px/30px DINosaur;
  }
  .learn__heading {
    font: 900 30px/50px Cocogoose;
  }
  a.description-link {
    font: 900 15px/27px Cocogoose;
  }
  .flag__block {
    width: calc(100vw / 5 - 20px);
    height: calc(100vw / 5 - 20px);
    margin: 0 auto;
    img {
      width: 50%;
    }
  }
}

@media (max-width: 1280px) {
  .group__phones {
    max-width: 500px;
  }
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
  .item__bottom--text {
    bottom: 45px;
  }
  .line {
    bottom: 70px;
  }
  ul.list--circle__check li {

    font: 300 20px/35px DINosaur;
  }
  .logo svg {
    max-width: 180px;
  }
  .nav__item {
    padding: 15px 10px;
  }
  .btn__red--rounded {
    padding: 16px;
  }
  .nav__item {
    font: 500 15px/15px Cocogoose;
  }
  .from__image {

    max-width: 450px;
  }

}

@media (max-width: 1024px) {
  .group__phones {
    display: none;
  }
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .banner__right {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .3;
    z-index: 1;
  }
  .flag__block {
    h4 {
      margin-top: 15px;
    }
  }
  .banner__left {
    z-index: 2;
  }
  .start__text {
    margin: 50px 0 30px;
  }
  .menu__items {
    position: fixed;
    right: -300px;
    overflow-y: scroll;
    top: 5rem;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    height: 100%;
    background: #fffffff5;
    align-items: start;
    padding-left: 30px;
    transition: all cubic-bezier(0.24, 0.29, 0.27, 0.3) 0.3s;
  }
  .hamburger-button {
    display: block;
  }
  .menu__items.open {
    right: 0;
    transition: all cubic-bezier(0.24, 0.29, 0.27, 0.3) 0.3s;
  }
  .nav__item {
    align-items: start;
  }
  .nav__subitem {
    position: static;
    border: none;
    background: transparent;
  }
  .start__image img {
    transform: scale(1);
    right: 0;
  }
  .from__image {
    top: 0;
    right: 0;
  }
  .management__tools .tool__item--img:after {
    display: none;
  }
  .text-38, .md\:text-38 {
    font-size: 20px;
  }
  .text-30 {
    font-size: 17px;
  }
  .custom-text-size p {
    font-size: 17px;
  }
  .text-38 {
    font-size: 25px;
  }
  .text-50 {
    font-size: 30px;
  }
  .leading-heading {
    line-height: 40px;
  }
  .copyrights {
    font: 700 15px/20px Cocogoose;
    padding: 20px 0;
  }
  .button__base {
    font: 900 15px/15px Cocogoose;
    height: 50px;
  }
  .flag__block {
    width: calc(100vw / 3 - 20px);
    height: calc(100vw / 3 - 20px);
    margin: 0 auto;
    img {
      width: 70%;
    }
  }
  .from__image {

    display: none;
  }
}

@media (max-width: 768px) {
  .section__title, .section__title-large {
    font: 700 20px/40px DINosaur;
  }
  ul.list--circle__check li {
    font: 300 17px/25px DINosaur;
    margin-bottom: 15px;
  }
  .item__heading, .learn__heading {
    font: 700 20px/30px Cocogoose;
  }
  .header__item:nth-child(1), .header__item:nth-child(2) {
    border-bottom: 1px solid #AAAAAA;
  }
  .header__item:nth-child(2) {
    border-right: none;
  }
  footer ul li {
    font: 300 15px/20px DINosaur;
    margin-bottom: 10px;
  }
  .text-70 {
    font: 700 40px/50px Cocogoose;
  }
  .text-30 {
    font-size: 17px;
  }
  .text-38, .md\:text-38 {
    font-size: 20px;
  }
  .text-20 {
    font-size: 13px;
  }
  .text-50 {
    font-size: 22px;
  }
  .leading-heading {
    line-height: 30px;
  }
  .copyrights {
    font: 700 13px/15px Cocogoose;
    padding: 15px 0;
  }
  .workflow__items .digitise__item--image, #organization__orchestrate .digitise__item--image {
    margin: 0 auto;
  }
}