body {
  overflow-x: hidden;
}
header{
  position: relative;
  z-index: 999;
}
.fs-30 {
  font-size: 30px;
}

.fs-20 {
  font-size: 20px;
}

.ft-bolder-coco {
  font-family: Cocogoose, sans-serif;
  font-weight: 900;
}

.ft-reg-coco {
  font-family: Cocogoose, sans-serif;
  font-weight: 500;
}

.ft-bold-coco {
  font-family: Cocogoose, sans-serif;
  font-weight: 700;
}

.ft-light-coco {
  font-family: Cocogoose, sans-serif;
  font-weight: 300;
}

.ft-bolder-din {
  font-family: Cocogoose, sans-serif;
  font-weight: 900;
}

.ft-reg-din {
  font-family: Cocogoose, sans-serif;
  font-weight: 500;
}

.ft-bold-din {
  font-family: Cocogoose, sans-serif;
  font-weight: 700;
}

.ft-light-din {
  font-family: Cocogoose, sans-serif;
  font-weight: 300;
}

.nav__item {
  padding: 15px 30px;
  text-align: left;
  font: 500 20px/26px Cocogoose;
  letter-spacing: 1.2px;
  color: #707070;
  text-transform: uppercase;
  opacity: 1;

}

.nav__item--arrow {
  padding: 15px 15px;

}

.nav__subitem {
  display: none;
  position: absolute;
  min-width: 350px;
  z-index: 999;
  left: 0;
  top: 100%;
  border: 1px solid #ddd;
  background: white;
  padding: 30px;
}
.nav__subitem ul {
  padding-right: 20px;
  min-width: 350px;
}
.sub__right .active{
  min-width: 350px;
}

.sub__right a{
  padding-bottom: 20px;
  display: block;
}

.nav__subitem--2{
  display: none;
  padding-left: 30px;
  padding-right: 30px;
  border-left: 2px solid #aaaaaa;
}
.nav__subitem--2.active{
  display: block;
}

.nav__subitem a {
  font: 500 20px/26px Cocogoose;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  color: #707070;

}

nav ul li {
list-style: none;
  transition: all ease .3s;
}

nav ul .active {
  position: relative;
  transition: all ease .3s;
}

nav ul .active > .nav__subitem {
  display: block;
  transition: all ease .3s;
}

.nav__item--arrow img {
  width: 20px;
  display: block;
  height: 17px;
  margin-left: 10px;
  transition: all ease .3s;
}

nav ul .active > .nav__item--arrow img {
  transform: rotate(90deg);
  transition: all ease .3s;
}

.btn__red--rounded {
  background: #FD2F58 0% 0% no-repeat padding-box;
  border-radius: 20px;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 10px 25px;
}

footer {
  background: #4D4D4D;
}

footer h5 {
  font: 700 20px/26px Cocogoose;
  letter-spacing: 1.2px;
  color: #FFFFFF;
  text-transform: uppercase;
}

footer ul li {
  font: 300 20px/27px DINosaur;
  letter-spacing: 0.4px;
  color: #FFFFFF;
  margin-bottom: 18px;
}

.copyrights {
  text-align: center;
  font: 700 20px/27px Cocogoose;
  letter-spacing: 2px;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 40px 0;
  background: #333333;
}

.copyrights span {
  font-family: 'Nunito', sans-serif;
}

.nav__login {
  color: #FD2F58;
}

.banner__heading {
  text-align: left;
  font: 700 70px/94px Cocogoose;
  letter-spacing: 0;
  color: #4D4D4D;
  text-transform: uppercase;
  opacity: 1;
}

p.banner__text {
  text-align: left;
  font: 300 30px/40px DINosaurs;
  letter-spacing: 0.3px;
  color: #707070;
  opacity: 1;
}

.home__banner--email input {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #8D5FD666;
  border-radius: 20px;
  height: 70px;
  outline: none;
  font: 300 20px/27px Cocogoose Classic Trial;
  letter-spacing: 0.8px;
  color: #707070;
}

button.banner__button {
  background: #FD2F58 0% 0% no-repeat padding-box;
  border-radius: 19px;
  text-align: center;
  font: bold 20px/27px Cocogoose;
  letter-spacing: 2px;
  color: #FFFFFF;
  text-transform: uppercase;
  outline: none
}
li.sub__menu--item.active a ,.menu__item.active .nav__item{
  color: #000;
}
.banner__small-text {

  font: 300 20px/27px DINosaur;
  letter-spacing: 0.4px;
  color: #707070;
}

.banner__small-text a {

  font: 500 20px/27px DINosaur;
  text-decoration: underline;
}

.banner__image {
  max-width: inherit;
  top: 0;
  bottom: 0;
  height: 110%;
  z-index: 9;
}

section#home__trusted {
  background: #E7EBED33 0% 0% no-repeat padding-box;
  mix-blend-mode: multiply;
  padding: 50px 25px;
}

.section__title {
  text-align: center;
  font: 700 25px/40px DINosaur;
  letter-spacing: 0.3px;
  color: #707070;
  text-transform: uppercase;
}

.fixed-height {
  max-height: 150px;
}

.section__title-large {

  font: 700 40px/50px Cocogoose;
  letter-spacing: 1.2px;
  color: #4D4D4D;
  text-transform: uppercase;
}

#home__procedure, #home__cases {
  border-bottom: 1px solid #EEE7F9;
}

ul.list--circle__check li {
  text-align: left;
  font: 300 30px/40px DINosaur;
  letter-spacing: 0.3px;
  color: #707070;
  margin-bottom: 25px;
  padding-left: 50px;
  background: url("../img/checkmark.png") no-repeat left;
}

img.procedure__image {

  top: 61px;
  bottom: 0;
  right: -201px;
  position: relative;
  transform: scale(1.8);
}

a.description-link {
  text-align: center;
  font: 900 20px/27px Cocogoose;
  letter-spacing: 2px;
  color: #FD2F58;
  text-transform: uppercase;
}

.item__heading {
  text-align: left;
  font: 700 40px/60px Cocogoose;
  letter-spacing: 1.2px;
  color: #00C389;
  text-transform: uppercase;
}

.item__image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item__text p, .start__text p, .learn__text p {
  text-align: left;
  font: 300 30px/40px DINosaur;
  letter-spacing: 0.3px;
  color: #707070;
}

.reversed {
  flex-direction: row-reverse;
}

.reversed .item__heading {
  color: #FF8500;
}

.start__text {
  margin: 440px 0 130px;
}

.start__image img {
  position: relative;
  right: 70px;
  transform: scale(1.6);
}

section#home__start {
  background: #E7EBED34;
}

.learn__heading {
  text-align: center;
  font: 900 40px/50px Cocogoose;
  letter-spacing: 1.2px;
  color: #8D5FD6;
  text-transform: uppercase;
}

.image__circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
}

.with__circle {
  position: relative;
  width: 250px;
  height: 250px;
}

.with__circle img {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

#home__leaders {
  background: #E7EBED4D;
}

.leader__item img {
  max-height: 70px;
}

#home__easy {
  background: #00C389;
}

.banner__right {
  width: 55%;
}

.tab__header {
  border: 1px solid #AAAAAA;
  max-width: max-content;
  overflow: hidden;
}

.header__item {
  border-right: 1px solid #AAAAAA;
  cursor: pointer;
}
.header__item.active{
  background: #9690A5 ;
  color: #ffffff;
}

.header__item:last-child {
  border-right: none;
}
.base__button{
  max-width: max-content;
  letter-spacing: 2px;
}
.item__top--image{
  position: absolute;
  bottom: 60%;
  left: 50%;
  transform: translateX(-50%);
}
.item__bottom--text{
  position: absolute;
  bottom: 65px;
  left: 50%;
  transform: translateX(-50%);
}
.line{
  position: absolute;
  bottom: 90px;
  left: 5%;
  height: 2px;
  background: #F0EDF8;
  width: 90%;
}
.content__item{
  display: none;
}

header.fixed{
  border-bottom: 1px solid #AAAAAA;
}
.content__item.active{
  display: flex;
}
header .nav__subitem li{
  padding-bottom: 20px;
}
.with-border{
  border-bottom: 2px solid #AAAAAA;
}
.sub__menu--item.active {
  display: block;
}
#digitise,#forms,#workflow,#organise,.with__border--bottom{
  border-bottom: 1px solid #EEE7F9;
}
.circle{
  background-image:url(../img/icons/back-factory.svg);
  background-repeat: no-repeat;
  background-position: center;
  max-width: 530px;
  background-size: contain;
  background-position: center;
}
.border-top-ccc{
  border-top:1px solid #ccc;
}
.issue-management-second{
  background-color:#FF85001A;

}
.issue-management-second-img{
  position:relative;
  top:-70px;
}
.issue__item--bg{
  background: url("../img/circle-grey.svg") no-repeat left;
  background-size: contain;
}
.from__image{
  position: relative;
  top: -35%;
  right: -5%;
}
@media (max-width: 1660px) {
  .banner__heading {
    font: 700 55px/80px Cocogoose;
  }
  p.banner__text {
    font: 300 25px/40px DINosaurs;
  }
  .home__banner--email input {
    font: 300 17px/27px Cocogoose Classic Trial;
  }
  .button__base {
    font: 900 17px/27px Cocogoose;
    height: 70px;
  }
  .banner__small-text {
    font: 300 17px/27px DINosaur;
  }
  .section__title-large {
    font: 700 35px/50px Cocogoose;
  }
  ul.list--circle__check li {

    font: 300 25px/35px DINosaur;
    margin-bottom: 20px;
  }
  .item__heading {
    font: 700 35px/55px Cocogoose;
  }
  .item__text p, .start__text p, .learn__text p {
    font: 300 25px/40px DINosaur;
  }
  .learn__heading {
    font: 900 35px/50px Cocogoose;
  }
  .with__circle {
    width: 200px;
    height: 200px;
  }
  a.description-link {
    font: 900 17px/27px Cocogoose;
  }
  .nav__item {
    font: 500 15px/20px Cocogoose;
    letter-spacing: 0.8px;
    padding: 15px;
  }
  .nav__item--arrow img {
    width: 13px;
    height: 14px;
    margin-left: 5px;
  }
  .logo {
    max-width: 150px;
  }
  .nav__subitem {
    padding: 20px;
  }

  .nav__subitem a {
    font: 500 13px/20px Cocogoose;
    letter-spacing: 0.8px;
  }
}

@media (max-width: 1400px) {
  .banner__heading {
    font: 700 40px/55px Cocogoose;
  }
  p.banner__text {
    font: 300 20px/40px DINosaurs;
  }
  .start__text {
    margin: 340px 0 130px;
  }
  .item__text p, .start__text p, .learn__text p {
    font: 300 20px/30px DINosaur;
  }
  .section__title-large {
    font: 700 30px/40px Cocogoose;
  }
  img.procedure__image {
    top: 0;
    right: -100px;
    transform: scale(1.5);
  }
  .item__heading {
    font: 700 25px/55px Cocogoose;
  }
  .item__text p, .start__text p, .learn__text p {
    font: 300 17px/30px DINosaur;
  }
  .learn__heading {
    font: 900 30px/50px Cocogoose;
  }
  a.description-link {
    font: 900 15px/27px Cocogoose;
  }
}
@media (max-width: 1280px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
  .item__bottom--text {
    bottom: 45px;
  }
  .line{
    bottom: 70px;
  }
}
@media (max-width: 1024px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .banner__right {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .3;
    z-index: 1;
  }
  .banner__left {
    z-index: 2;
  }
  .start__text {
    margin: 50px 0 30px;
  }
  .start__image img{
    transform: scale(1);
    right: 0;
  }
  .from__image{
    top: 0;
    right: 0;
  }
}
@media (max-width: 768px) {
  .section__title ,.section__title-large{
    font: 700 20px/40px DINosaur;
  }
  ul.list--circle__check li {
    font: 300 20px/30px DINosaur;
    margin-bottom: 15px;
  }
  .item__heading ,.learn__heading {
    font: 700 20px/30px Cocogoose;
  }
  .header__item:nth-child(1),.header__item:nth-child(2){
    border-bottom:1px solid #AAAAAA ;
  }
  .header__item:nth-child(2){
    border-right: none;
  }
  footer ul li{
    font: 300 15px/20px DINosaur;
    margin-bottom: 10px;
  }
}